/ChatClientapp/nbproject/private/
/ChatClientapp/dist/
/ChatClientapp/build/
/ChatMessage2/nbproject/private/
/ChatMessage2/dist/
/ChatMessage2/build/
/ChatServer2/nbproject/private/
/ChatServer2/build/